@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    margin: 0;
    background-color: #ffff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    margin: 0 auto;
    
}
/* how it works*/ /*using flexbox*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5;
}
.flex-child {
    flex: 1;
    border: 2px solid y #5E17Eb;
    
}
.flex-child:first-child {
    margin-right: 20px;
}
/* header logo and nav bar*/
header {
    display: flex;
   flex-wrap: wrap;
    background-color: #5E17EB;
    height: 200px;
    width: 100%;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 150px;
}
nav {
    float: right;
    max-height: 150px;
    }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 100px;
    padding-right: 20px;
    font-size: 25px;
    
    position: relative;
    
}
nav ul li a {
    color: #ffff;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:hover {
    color: rgba(247, 84, 9, 0.979) ;
}
.active {
    border-bottom: 1px solid black;
}

/* sections and divs */

section

div {
    color: #5E17EB ;
    font-weight: 400;
    padding: 20px 20px;
    text-transform: lowercase;
    font-size: large;
    justify-content: right;
    line-height: 1.5;
}

.aboutimage {
    height: 50vh;
    width: 100%;
    background-image: url(../images/aboutus.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-image {
    height: 100vh;
    width: 100%;
    background-image: url('../images/hero\ image.webp');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

/* animation for hero image*/
animation-name: hero-zoom;
animation-duration: 3s;
animation-fill-mode: both;

}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.slogan {
    height: 900px;
    width: 50%;
    font-size: xx-large;
    margin-left: 100px;
    position: absolute;
    padding-top: 70px;
    
}
.slogan-bottom {
    font-size: xx-large;
    font-weight: bold;
    height: 300px;
    width: 50%;
    margin-left: 100px;
    position: absolute;
}
.benefits {
    display: flex;
    flex-wrap: wrap;
}
.benefits1, .benefits2, .benefits3, .benefits4, .benefits5, .benefits6 {
    width: 75px;
    height: 75px;
    margin: 50px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(172,23,235,1) 100%);
}
.howitworksimage {
    height: 50vh;
    width: 100%;
    background-image: url(../images/imageforfaq.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
/* footer and social media icons */
footer {
    color: #ffff;
    background-color: #5E17EB;
    margin: auto;
    padding: 20px;
    display: block;
    width: 100%;
    height: 100px;
    padding-top: 75px
}
footer ul {
    margin: 0;
    padding:0;
    list-style: none;
    color: #ffff;
}
footer ul li {
    color: #ffff;
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;
}
a {
    color: #fff;
}
.social-media {
    text-align: center;
}
footer a:hover {
        color: rgba(247, 84, 9, 0.979) ;
    }
/* faqs page*/
.imageforfaq {
    height: 50vh;
    width: 100%;
    background-image: url(../images/faqimage.jpeg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    display: flex;

}
.box .headings {
    background: #5E17EB;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
summary {
    font-weight: bolder;
}
.text {
    font-style: italic;
}
.faqs {
    padding: 5px 20px;
    margin-top: 5px;
    line-height: 3;
}
hr {
    color: #5E17EB;
    margin: 0;
}
/* airport locations*/
.airports {
    display: flex;
  line-height: 1.5;
  flex-wrap: wrap;

    
}

.dublin .shannon .cork {
    flex: 1;
    flex-basis: content;
    
    
}
/* contact us section */
.contact-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.contact-us-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/contactusimage3.webp.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}
.contact-us-heading {
    width: 400px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 40px;
    }

}
.contact-us-form {
    width: 400px;
    padding: 10px;;
    margin: 30px;
    float: left;
    border: solid;

}
.our-details {
width: 400px;
line-height: 1.5rem;
background: #fffbfb;
margin: 30px;
padding: 10px;
border: solid;
box-shadow: #5E17Eb;
padding: 10px;
margin: 15px;

}

.details-list li, .country-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ecebeb;
   
    
}
.details-list > li > label,
.country-list li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.details-list > li > label + *,
.country-list {
  flex: 1 0 220px;
  padding: 10px;
  margin: 15px;
}
.details-list li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #5E17Eb;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  .country-list li {
    width: 100px;
    width: 50%; 
  }
  @media screen and (max-width: 1040px) {
    nav li {
        display: inline-block;
        margin-left: 20px;
        padding-top: 50px;
        padding-right: 20px;
        font-size: 25px;
        
        position: relative;
    }
}
@media screen and (max-width: 850px)  {
    nav ul {
        margin: 30px;
        padding: 30px;
    }
    nav li {
      display: table-header-group;
      font-size: 20px;
      width: 100%;
    }
    header footer {
        height: 150px;
      
    }
}
@media screen and (max-width: 600px)  {
    nav ul {
        margin: 30px;
        padding: 30px;
    }  
    nav  li {
          display: table-header-group;
          font-size: 15px;
          padding: 20px;
         
        }
 
        header footer {
            height: 150px;
          
        }
        .hero-image {
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }
        .slogan {
            width: 50%;
            font-size: large;
            position: absolute;
            padding-top: 70px;
        }
        .slogan-bottom {
                font-size: large;
                font-weight: bold;
                margin-left: 100px;
                position: absolute;
            }
    }
    @media screen and (max-width: 360px)  {
      
        nav li {
              display: table-header-group;
              font-size: 10px;
              padding: 15px;
             
            }
     
            header footer {
                height: 150px;
              
            }
            .hero-image {
                height: 100vh;
                width: 100%;
                overflow: hidden;
            }
            .slogan {
                width: 50%;
                font-size: large;
                /* margin-left: 100px; */
                position: absolute;
                padding-top: 70px;
            }
            .slogan-bottom {
                font-size: large;
                font-weight: bold;
                margin-left: 100px;
                position: absolute;
            }
        }