@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap');

body {
    margin: 0;
    background-color: #ffff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    margin: 0 auto;
    
}
/* header logo and nav bar*/
header {
    background-color: #5E17EB;
    height: 150px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 150px;
}
nav {
    float: right;
    max-height: 150px;
    }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 100px;
    padding-right: 20px;
    font-size: 25px;
    
    position: relative;
    
}
nav ul li a {
    color: #ffff;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:hover {
    color: rgba(247, 84, 9, 0.979) ;
}

/* sections and divs */

section

div {
    color: #5E17EB ;
    font-weight: 400;
    padding: 20px 20px;
    text-transform: lowercase;
}


.hero-image {
    height: 70vh;
    width: 100vw;
    background-image: url('../images/hero\ image.webp');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan {
    max-height: 20%;
    max-width: 50%;
    font-size: xxx-large;
}
.slogan-bottom {
    font-size: xx-large;
    font-weight: bold;
}
.benefits {
  
    float: left;
    border-width: 2px;
    border-style: dashed;
    border-color: #5e17eb;
    border-radius: 80%;
    padding: 40px 40px
}

/* footer and social media icons */
footer {
    color: #ffff;
    background-color: #5E17EB;
    height: 20vh;
    margin: auto;
    padding: 50px;
    display: block;
}
footer ul {
    margin: 0;
    padding:0;
    list-style: none;
    color: #ffff;
}
footer ul li {
    color: #ffff;
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;
}
.social-media {
    text-align: center;
}
footer a:hover {
        color: rgba(247, 84, 9, 0.979) ;
    }
