@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    margin: 0;
    background-color: #ffff;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.container {
    width: 100%;
    margin: 0 auto;
    
}
    
/* header logo and nav bar*/

header {
    display: flex;
   flex-wrap: wrap;
    background-color: #5E17EB;
    height: 200px;
    width: 100%;
}
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 150px;
}
nav {
    float: right;
    max-height: 150px;
    }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 100px;
    padding-right: 20px;
    font-size: 25px;
    
    position: relative;
    
}
nav ul li a {
    color: #ffff;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:hover {
    color: rgba(247, 84, 9, 0.979) ;
}
.active {
    border-bottom: 1px solid black;
}

/* sections and divs */

section

.div-text {
    color: #5E17EB ;
    font-weight: 400;
    text-transform: lowercase;
    font-size: large;
    justify-content: right;
    line-height: 2;
    margin-left: 30px;
}

/* Homepage/landing page*/

.hero-image {
    height: 100vh;
    width: 100%;
    background-image: url('../images/hero\ image.webp');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

/* animation for hero image*/
animation-name: hero-zoom;
animation-duration: 3s;
animation-fill-mode: both;

}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
.slogan {
    /* height: 900px; */
    width: 50%;
    font-size: x-large;
    margin-left: 400px;
    font-weight: bolder;
    /* position: absolute; */
    padding-top: 70px;
    padding: 20px 20px;
    color: #5E17Eb;
    margin-top: 30px;
}
    
.slogan-bottom {
    font-size: x-large;
    font-weight: bold;
    height: 100px;
    width: 50%;
    margin-left: 500px;
    /*position: absolute;*/
    color: #5E17Eb;
}
/* About page */

.aboutimage {
    height: 50vh;
    width: 100%;
    background-image: url(../images/aboutus.jpg);
    /*background-attachment: fixed;*/
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
/* How it works flexbox*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.5;
}
.howitworksimage {
    height: 60vh;
    width: 100%;
    background-image: url(../images/howitworks2.webp.jpg);
   /* background-attachment: fixed;*/
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.benefits {
    display: flex;
    flex-wrap: wrap;
}
.benefits1, .benefits2, .benefits3, .benefits4, .benefits5, .benefits6 {
    width: 100px;
    height: 100px;
    margin: 50px;
    text-align: center;
    justify-content: center;

    color: white;
   /* border-radius: 50%;*/
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(172,23,235,1) 100%);
}

/* footer and social media icons */
footer {
    color: #ffff;
    background-color: #5E17EB;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 75px
}
footer ul {
    margin: auto;
    padding:0;
    list-style: none;
    color: #ffff;
}
footer ul li {
    color: #ffff;
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;
}
a {
    color: #fff;
}
.social-media {
    text-align: center;
}
footer a:hover {
        color: rgba(247, 84, 9, 0.979) ;
    }

hr {
    color: #5E17EB;
    margin: 0;
}

/* faqs page*/
.imageforfaq {
    height: 50vh;
    width: 100%;
    background-image: url(../images/faqimage.jpeg);
    /*background-attachment: fixed;*/
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    display: flex;

}
.box .headings {
    background: #5E17EB;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
summary {
    font-weight: bolder;
}
.text {
    font-style: italic;
}
.faqs {
    padding: 5px 20px;
    margin-top: 5px;
    line-height: 3;
}
/* How faq's - airport locations*/
.leaving-ireland-heading {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 700px;
}
.airports {
    display: flex;
  line-height: 1.5;
  flex-wrap: wrap;    
}

.dublin, .shannon, .cork {
    flex: 1;
    flex-basis: 200px;
    margin: 30px 30px 30px 30px;

    
}
/* contact us section */
.contact-us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* hero image*/

.contact-us-image {
    width: 100%;
    height: 50vh;
    background-image: url(../images/contactusimage3.webp.jpg);
    /*background-attachment: fixed;*/
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}
/* Heading in contact page*/

.contact-us-heading {
    width: 400px;
    margin: auto;
    margin-top: 40px;
    }

/* contact us form on contact page*/

.contact-us-form {
    width: 400px;
    padding: 10px;;
    margin: 30px;
    float: left;
    border: solid;

}

.details-list li, .country-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ecebeb;
}

.details-list > li > label,
.country-list li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.details-list > li > label + *,
.country-list {
  flex: 1 0 220px;
  padding: 10px;
  margin: 15px;
}
.details-list li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #5E17Eb;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;

  }
  .country-list li {
    width: 100px;
    width: 50%; 
  }
  .our-details {
    width: 400px;
    line-height: 1.5rem;
    background: #fffbfb;
    margin: 30px;
    padding: 10px;
    border: solid;
    box-shadow: #5E17Eb;
    padding: 10px;
    margin: 15px;
    
    }
  /* Thank you page on form submitted */

  .thank-you-image {
      background-image: url(../images/thankyou.webp.png);
      font-size: x-large;
      height: 100vh;
      color: #f2f2f2;
      padding: 100px 200px;
      
  }
  @media screen and (max-width: 1040px) {
    
    /* Navigation */

    nav li {
        display: inline-block;
        margin-left: 20px;
        padding-top: 50px;
        padding-right: 20px;
        font-size: 30px;
        
        position: relative;
    }
}
@media screen and (max-width: 850px)  {
    /* Header/footer and navigation styling*/

    nav ul {
        margin: 30px;
        padding: 30px;
    }
    nav li {
      display: table-header-group;
      font-size: 30px;
      width: 100%;
        }
    header  {
        height: 250px;
      
        }
    footer {
        height: 100px;
    }
    /* contact us section */
    .contact-us-heading {
        margin: auto;
        margin-top: 40px;
        margin-left: 10px;
        }
}
@media screen and (max-width: 770px)  {

    /* Header/footer and navigation styling */

    nav ul {
        margin: 30px;
        padding: 30px;
         }  
    nav  li {
          display: table-header-group;
          font-size: 25px;
          padding: 20px;
         
         }
 
    header  {
            height: 275px;
          
        }
    footer {
        height: 60px;
    }
    /* Homepage/landing page styling */

    .hero-image {
            height: 100vh;
            width: 100%;
            overflow: hidden;
        }
    .slogan {
            width: 400px;
            font-size: large;
            /* position: absolute; */
            /* padding-top: 70px; */
            /* padding: 20px 20px; */
            /* float: right; */
            margin-left: 50px;
           /* width: 50%;
            font-size: large;
            position: absolute;
            padding-top: 70px;*/
        }
    .slogan-bottom {
                font-size: large;
                font-weight: bold;
                margin-left: 100px;
                position: absolute;
            }
    /* Contact us page */
    .contact-us-heading {
                margin: auto;
                margin-top: 40px;
                margin-left: 10px;
        }
    }
@media screen and (max-width: 420px)  {
    /* Header/footer styling */

       nav li {
              display: table-header-group;
              font-size: 20px;
              padding: 10px;
            }
     
        header  {
                height: 220px;
              
            }
        footer {
            height: 100px;
        }
    /* Home page styling*/

        .hero-image {
                height: 100vh;
                width: 100%;
                overflow: hidden;
            }
        .slogan {
                width: 220px;
                font-size: small;
                /* margin-left: 100px; */
                /*position: absolute;
                padding-top: 70px;*/
            }
        .slogan-bottom {
                font-size: large;
                font-weight: bold;
                margin-left: 100px;
                position: absolute;
            }
        .contact-us-heading {
                width: 350px;
                margin: auto;
                margin-top: 40px;
                margin-left: 10px;
        }
    }
    @media screen and (max-width: 376px)  {
     /* Header and navigation styling */ 
         nav li {
               display: table-header-group;
               font-size: 15px;
               padding: 10px;
               
             }
        nav {
                float: none;
                max-height: 150px;
                margin-left: 10px;
                }
         header  {
                 height: 220px;
               
             }
    /* Home Landing page styling*/
         .hero-image {
                 height: 100vh;
                 width: 100%;
                 overflow: hidden;
             }
         .slogan {
                 width: 220px;
                 font-size: small;
                 /* margin-left: 100px; */
                 /*position: absolute;
                 padding-top: 70px;*/
                 margin-top: 10px;
             }
         .slogan-bottom {
                 font-size: large;
                 font-weight: bold;
                 margin-left: 100px;
                 position: absolute;
             }
             /* about section */
             .aboutimage {
                height: 50vh;
                width: 100%;
                background-image: url(../images/aboutus.jpg);
                background-size: cover;
            }
             /* how it works section*/
             .howitworksimage {
                height: 60vh;
                min-width: 320px;
                width: 100%;
                background-image: url(../images/howitworks2.webp.jpg);
                background-size: cover;
            }
         /* Contact us section */
         .contact-us-heading {
                width: 300px;
                 margin: auto;
                 margin-top: 40px;
                 margin-left: 10px;
         }
         .contact-us-form {
            width: 400px;
            /* padding: 10px; */
            margin: 10px;
            /* float: left; */
            border: solid;
         }
         .our-details {
            line-height: 1.5rem;
            background: #fffbfb;
            margin: 15px;
            /* padding: 10px; */
            border: solid;
            box-shadow: #5E17Eb;
            /* padding: 10px; */
            /* margin: 15px; */
         }
     }